@font-face{
    font-family: a;
  src: url(../fonts/CaviarDreams.ttf);
}

body{
    background-color: aliceblue;
    font-family: a;
}

.color{
    background-color: #67AF9E;
}

.fuente{
    color: #67AF9E;
    font-variant: small-caps;
}

.justificado{
    text-align: justify;
}

.fondo{
    background-color: #67af9e4d;

}